amqp==5.0.1
asgiref==3.2.10
billiard==3.6.3.0
boto3==1.14.63
botocore==1.17.63
celery==5.0.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-repl==0.1.6
dj-database-url==0.5.0
Django==3.1.1
django-cart==1.0.4
django-dbshell-plus==1.0.1
django-heroku==0.3.1
django-storages==1.10.1
docutils==0.15.2
Flask==1.1.2
Flask-DbShell==1.0
gunicorn==20.0.4
heroku==0.1.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
kombu==5.0.2
MarkupSafe==1.1.1
Pillow==7.2.0
prompt-toolkit==3.0.7
psycopg2==2.8.6
python-dateutil==1.5
pytz==2020.1
requests==2.24.0
reverse==0.1.0
s3transfer==0.3.3
six==1.15.0
sqlparse==0.3.1
style==1.1.0
update==0.0.1
urllib3==1.25.10
vine==5.0.0
wcwidth==0.2.5
Werkzeug==1.0.1
whitenoise==5.2.0
