{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% load static %}
{% block content %}



    <div class="contact-area d-flex align-items-center">

        <div class="google-map">
            <div id="googleMap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3745.595925669225!2d78.30593321439319!3d20.150898522541848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd3b813a91b4eb7%3A0x5d8d18669b2d2e7f!2sGhatanji%2C%20Maharashtra%20445301!5e0!3m2!1sen!2sin!4v1600914606316!5m2!1sen!2sin" width="900" height="600" frameborder="10px" style="border:10px; margin-left: 120px; margin-top: 45px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>

        <div class="contact-info">
            <h2>How to Find Us</h2>
            <p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna vehicula, nec maximus est sollicitudin.</p>

            <div class="contact-address mt-50">
                <p><span>address     :</span>Flat no.3,Rohanand Apartment,Talegaon Dabhade,Pune</p>
                <p><span>telephone   :</span>9689140914/9359184123</p>
                <p><span>E-mail   :</span><a href="mailto:contact@essence.com">jnvmerchandise@gmail.com</a></p>
            </div>
        </div>

    </div>

   
{% endblock %}